@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: grid;
  grid-template: 200px 3fr / 250px 1fr;
  position: absolute;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  z-index: 1;
  padding: 20px 30px 20px 20px;
  background-color: #fff;
  box-shadow: 1.8px 4px 6px 0px #aaaaaacc;
}

.sub-header-container-2 {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 100px;
}

.search-bar {
  display: grid;
  grid-template: 30px / 30px 1fr;
  align-content: center;
}

.search {
  flex: 1;
  margin-left: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #e0e0e0;
  font-size: 16px;
}
.search:focus {
  border: 2px solid #eeaa19;
  outline: none;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.24);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.profile {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.sub-header-container {
  display: grid;
  grid-template-columns: 1fr 450px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero p {
  font-weight: bold;
}

.hero h2 {
  color: black;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}

.header-buttons button {
  padding: 10px 28px;
  border: none;
  border-radius: 50px;
  background-color: #53a3ff;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  padding: 30px;
  background-color: #53a3ff;
  color: #fff;
}

nav h1 {
  display: grid;
  grid-template: 1fr / 50px 1fr;
  align-items: center;
  margin-left: -10px;
}

nav ul {
  display: grid;
  grid-auto-rows: 50px;
  grid-template: 50px / 1fr;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

nav li {
  display: grid;
  grid-template: 1fr / 40px 1fr;
  align-items: center;
}

nav li img {
  align-self: center;
}

main {
  display: grid;
  grid-template: 1fr / 1fr 350px;
  padding: 30px;
  background-color: #e0e0e0;
  column-gap: 20px;
}

main h2 {
  margin-bottom: 10px;
}

.cards {
  grid-area: 1 / 1 / 3 / 2;
  margin-bottom: 40px;
  background-color: #e0e0e0;
}

.card {
  display: grid;
  grid-template-columns: 10px 1fr;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1.8px 4px 6px 0px #aaaaaacc;
  column-gap: 20px;
}

.inner-card {
  align-self: center;
  padding: 20px 20px 0 0;
}

.card-icons {
  grid-column: 2;
  align-self: end;
  justify-self: end;
  padding: 15px;
}

.card-icons img {
  margin: 10px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 100%;
  gap: 20px;
}

.stripe {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 15px 0 0 15px;
  background-color: #eeaa19;
}

.aside-wrapper {
  height: 366px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1.8px 4px 6px 0px #aaaaaacc;
}

.trending {
  margin-top: 30px;
}

.trending .aside-wrapper {
  display: flex;
  padding: 0;
}

.aside-wrapper ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 30px 0 30px;
}

.aside-wrapper li {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
}

header img,
.trending img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #000;
}

h3.name {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
}

a.name {
  position: relative;
}

h2 .name::after {
  bottom: -5px;
}

.name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #eeaa19;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.name:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.github-icon {
  width: 25px;
  margin-bottom: 3px;
  margin-left: 10px;
}

.announcements .aside-wrapper > :nth-child(2) {
  margin: 15px 0 15px 0;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #aaaaaacc;
  border-top: 1px solid #aaaaaacc;
}
